gitignore

*.iml


.gradle/
build/
local.properties

.idea/

.DS_Store

captures/

.externalNativeBuild/

.cxx/

*.apk
*.aab
*.ap_

*.dex

*.class

*.trace

lint-results-*.html
lint-results-*.xml

*.log

.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
